body {
	margin: 0;
}

#game {
	position: absolute;
	left: 0;
	top: 0;
	width: 1000px;
	height: 600px;
	background-color: rgb(239,239,251);
	font-size: 40px;
}

#game div p {
	font-size: 0.5em;
}



#game .screen {
	position: absolute;
	width: 1000px;
	height: 600px;
	display: none;
	z-index: 10;
}





#game .screen.active {
	
	background-repeat: no-repeat round;
	display: block;
}


/*Menu*/
#main-menu {
    background-image: url('Pictures/menu.png');
	/*padding-top: 1em;*/
	cursor: pointer;
	font-size: 0.75em;
}

#pause-screen {
    background-image: url('Pictures/menu.png');
	/*padding-top: 1em;*/
	cursor: pointer;
	font-size: 0.75em;
}

ul.menu {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu li {
	margin: 0.8em 0;
}

ul.menu li button {
	font-family: Monaco;
	font-size: 0.6em;
	color: #CECEF6;
	width: 10em;
	height: 1.5em;
	background: #0404B4;
	border: 0.1em solid rgb(255, 0, 0);
	border-radius: 0.5em;
	box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.menu li button:hover {
	background: #2E2EFE;
}

ul.menu li button:active {
	color: #CECEF6;
	background: rgb(0, 0, 0);
}

#game div h1 {
	font-size: 1em;
	text-align: center;
	color: White;
}

#gameover{
	background-image: url('Pictures/Gameover.png');
}

#selection{
	background-color: black;
}

#high-scores{
	background-image: url('Pictures/menu2.png');
}

#high-scores ol {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
	color: white;
}

#high-scores2 ol {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
	color: white;
}

#about{
	background-image: url('Pictures/menu2.png');
}

#pausescreen{
	background-image: url('Pictures/menu2.png');
}



#canvas-main{
    background: url('Pictures/grid.png');
    background-repeat: no-repeat;
    display: block; 
    margin: 0 auto;
    float: left;

}

#help{
	background-image: url('Pictures/menu2.png');
}

#help p {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
	color: white;
	font-family: Monaco;
	font-size: 45;
}


#game-play{
    width: 1000px;
    height: 600px;
}

#gamecanvas{
    float: left;
    width: 800px;
    height: 600px;
    
}

/*SideBar*/

#start{
    float: top;
    height: 60px;
    width: 200px;
    
}


#sidebar {
    float: left;
    height: 600px;
    width: 200px;
}

#towers{
    padding-left: 5px;
    float: top;
    width: 195px;
    height: 60px;
    padding-top: 10px;
    background-image: url('Pictures/Towers.png');
    background-repeat: no-repeat;
}

.info{
	float: top;
	visibility: show;
}


#towerinfo{
    float: top;
    height: 440px;
    width: 200px;
    background-image: url('Pictures/Towersinfo.png');
    background-repeat: no-repeat;
}

.ground{
    position: fixed;
}

#pause{
    float: top;
    height: 30px;
    width: 200px;
}

/*Buttons*/

#id-ground1{
    background: url('turrets/turret-1-1.png');
    background-position:center;  
    /*background-repeat:no-repeat;*/
    width: 40px;
    height: 40px;  
    background-color: lightslategray;   
}

#id-ground1:hover{
	background-color: darkgrey;
}

#id-ground1:active{
	background-color: dimgrey;
}


#id-air{
    background: url('turrets/turret-4-1.png');
    background-position:center;
    background-repeat:no-repeat;
    width: 40px;
    height: 40px;
    background-color: lightslategray;     
}

#id-air:hover{
	background-color: darkgrey;
}

#id-air:active{
	background-color: dimgrey;
}

#id-mixed{
    background: url('turrets/turret-3-1.png');
    background-position:center;
    background-repeat:no-repeat;
    width: 40px;
    height: 40px;    
    background-color: lightslategray; 
}

#id-mixed:hover{
	background-color: darkgrey;
}

#id-mixed:active{
	background-color: dimgrey;
}


#id-ground2{
    background: url('turrets/turret-2-1.png');
    background-position:center;
    background-repeat:no-repeat;
    width: 40px;
    height: 40px;
    background-color: lightslategray;    
}

#id-ground2:hover{
    background-color: darkgrey;
}

#id-ground2:active{
	background-color: dimgrey;
}

#id-start{
	position: fixed;
    width: 200px;
    height: 60px;
}

#id-start:hover{
    background-color: darkgrey;
}


#id-start:active{
	background-color: dimgrey;
}


#id-pause{
	position: fixed;
    width: 200px;
    height: 30px;
}

#id-pause:hover{
	background-color: darkgrey;
	content: 'Pause Game';
}

#id-pause:active{
	background-color: dimgrey;
}

#upgrade{
    position: center;
    margin-left: 45px;
    visibility: hidden;
}

