.title
{
        font-size : 32pt;
        font-weight : bold;
        color : blue;
        text-align : center;
        background-color : #FFE6E6;
        
}

.footer
{
    font-size : 20pt;
        font-weight : bold;
        color : blue;
        text-align : center;
        background-color : #FFE6E6;
}

.center
{
    float: center; 
	color : blue;
    text-align: center;
    background-color : #FFFFFF;
}

.rightside
{    
	float: center;
    height: 500px; 
    text-align: center;
    background-color : #FFFFFF;
}

p
{
    font-size : 16pt;
    font-weight : bold;
}